body{
   background-color:whitesmoke;
}
.header{
   
   background-color: #0066cc;
   width:100%;

}

.div1{
   width:360px;
   background-color: aqua;
  float: left;
}
.div2{
   width:99%;
   background-color: #4267b2;

   padding-left: 2rem;
}
img{
   width: 90px;
}
.part1{
   float: left;
   background-color: whitesmoke;
width:28%;
height: 500px;
}

.parts{
   width:30%;
   background-color:whitesmoke;
   height: 650px;
   margin-left: 0.2rem;
}
.td {
   width: 20%;
   height: 300px;

}

.image{
   width: 70%;
   height: 500px;
}
.form{
  
     margin-left:10rem;
     margin-bottom: 50rem; 
     width:1000px;

}

.footers{
     
   background-color: #0066cc;
   width:1360px;
    height: 50px;
    float: left;
   font-size: 20px;
    text-align: center
}
h2{
   width: 100%;
}
table{
   width: 100%;
}