
body{
  
   width: 100%;
}
.header{
   
   background-color: #0066cc;

}
td a{
   color:black;
}

.div1{
   width:360px;
   background-color: aqua;
  float: left;
}
.div2{
   width:99%;
   background-color: #4267b2;

   padding-left: 2rem;
}

table{
   width: 100%;
}
.part1{
   float: left;
   background-color: whitesmoke;
width:28%;
height: 500px;
}
.part2{
   float: right;
   margin-left: 15rem;
   background-color: whitesmoke;
   width: 26%;
   height: 500px;
}
.part3{
   margin-left:18rem;
   background-color:whitesmoke;
   height: 500px;
   width: 53%;
}
.parts{
   width: 100%;
   background-color:whitesmoke;
   height: 500px;
   margin-left: 0.2rem;
}
.footers{
   background-color: #4267b2;
   text-align: center;
   width:1322px;;
   margin-top: 7rem;
   height: auto;
   
}
.td {
   width: 50%;
   height: 300px;

}
td{
   font-size: 20px;
   padding-left:1rem;
   margin-left: 4rem;
}
img{
   width: 90px;
   height: 100px;
}
.contact {
   margin-left: 40rem;
}
